/* Footer */
footer {
position: relative;
width: 1920px;
height: 300px;

background: #FFFFFF;
left: 50%;                   /* 왼쪽 기준 50% */
transform: translateX(-50%); /* 본인 너비의 절반만큼 왼쪽으로 이동 → 진짜 가운데 정렬 */
}

/* lineicons:youtube */
.lineicons-youtube {
position: absolute;
width: 34px;
height: 34px;
left: 1676px;
top: 92px;
}



/* mingcute:instagram-line */
.lineicons-instagram{
position: absolute;
width: 34px;
height: 34px;
left: 1726px;
top: 93px;
}


.footer-section-title{
position: absolute;
font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #000000;
}

/* footer-line-label */
.footer-line-label {
  position: absolute;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #6F6F6F;
}

.footer-content{
position: absolute;
font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;
/* or 18px */

color: #6F6F6F;
}


/* 대회로고 */
.logo{
position: absolute;
width: 99.71px;
height: 110.89px;
left: 303px;
top: 50px;
}



/* //////////////////////////////////// */
/* 한국교육환경보호원 */
.conmpany-name {
/* position: absolute; */
width: 125px;
height: 24px;
left: 565px;
top: 50px;
}


/* 주소 */
.address{
position: absolute;
width: 25px;
height: 18px;
left: 565px;
top: 94px;
}

/* 충청북도 청주시 흥덕구 오송읍 오송생명로 267-4 3층 */
.address-c {
width: 299px;
height: 18px;
left: 604px;
top: 94px;
}


/* 전화 */
.call{
width: 25px;
height: 18px;
left: 565px;
top: 120px;
}

/* 043-710-4000 */
.call-c {
position: absolute;
width: 94px;
height: 18px;
left: 604px;
top: 120px;
}

/* 팩스 */
.fax{
position: absolute;
width: 25px;
height: 18px;
left: 565px;
top: 146px;
}

/* 043-710-4004 */
.fax-c {
position: absolute;
width: 94px;
height: 18px;
left: 604px;
top: 146px;
}

/* ////////////////////////////////////////// */

/* 오프라인 전시 */
.offline-exhibition {
width: 87px;
height: 24px;
left: 970px;
top: 50px;
}

/* 장소 */
.exhibition-address{
position: absolute;
width: 25px;
height: 18px;
left: 970px;
top: 94px;
}



/* 충청북도 청주시 흥덕구 오송읍 오송생명5로 267-4 3층 한국환경보호원 */
.exhibition-address-c {
width: 396px;
height: 18px;
left: 1033px;
top: 94px;
}


/* 운영기간 */
.prediod{
position: absolute;
width: 49px;
height: 18px;
left: 970px;
top: 120px;
}

/* 25.00.00 ~ 25.00.00 */
.prediod-c {
position: absolute;
width: 128px;
height: 18px;
left: 1033px;
top: 120px;
}

/* 운영시간 */
.o-hours{
position: absolute;
width: 49px;
height: 18px;
left: 970px;
top: 146px;
}

/* 10:00 ~ 17:00 */
.o-hours-c {
position: absolute;
width: 85px;
height: 18px;
left: 1033px;
top: 146px;
}




/* Copyrightⓒ2018 KEEPA. All rights reserved. */
.copy{
position: absolute;
width: 281px;
height: 18px;
left: 1482px;
top: 144px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 130%;
/* or 18px */

color: #6F6F6F;
}

/* divide line */
.line{
position: absolute;
width: 1600px;
height: 0px;
left: 160px;
top: 212px;

border: 1px solid #9D9D9D;
}

/* edu-logos */
.edu-logos{
/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

position: absolute;
width: 467.6px;
height: 15px;
left: 801px;
top: 230px;
}

/* main-logs */
.main-logos {
/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

position: absolute;
width: 526.54px;
height: 43.94px;
left: 160px;
top: 228.84px;
}



/* _격리_모드 */
.c-icons{
position: absolute;
width: 303.91px;
height: 23.22px;
left: 1457px;
top: 236px;
}


/* gov-logo */
.gov-logo {
position: absolute;
width: 64.32px;
height: 22.74px;
left: 0px;
top: 0.24px;
}


/* 17-edu-logo */
.edu-logo-17 {
position: absolute;
width: 87.24px;
height: 12.43px;
left: 84.32px;
top: 5.4px;
}

/* c-logo */
.c-logo {
position: absolute;
width: 112.35px;
height: 23.22px;
left: 191.56px;
top: 0px;
}